
resources:
- name: ansible-tower
  type: vm-instances-deployment-template.jinja
  properties:
    machineType: f1-micro
    zone: us-central1-a
#- name: ns2
#  type: vm-instances-deployment-template.jinja
#  properties:
#    machineType: f1-micro
#    zone: us-central1-a

#- name: client
#  type: vm-instances-deployment-template.jinja
#  properties:
#    machineType: f1-micro
#    zone: us-central1-a
